.content {
    background-color:gray;
    height:100%;
    font-size:25px;
}

.img-content {
    display:flex;
    justify-content:center;
    padding:20px;
}

.text-content {
    text-align:justify;
    justify-content:center;
    max-width:60%;
    margin:auto;
    padding:16px;
}
