* {
    margin: 0;
    padding: 0;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: rgb(51, 47, 47);
    color:white;
    padding:20px;
    flex-wrap: wrap;
    font-size:20px;
}

.navbar {
    height:100%;
    display:flex;
    flex-wrap: wrap;
}

.navbar a {
    text-decoration:none;
    color:white;
    padding:5px;
}

a:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.nama {
    font-size:25px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 47, 47);
    color: white;
    text-align: center;
    font-size: 20px;
    height:100%;
}

.icon {
    width: 20px;
    height: 20px;
    padding:15px;
    margin-top:5px;
}

.footer a {
    text-decoration:none;
    color:white;
}
