*,
html {
    margin:0;
    padding:0;
}

.navigation {
    background-color:rgb(51, 47, 47);
    width:98,5%;
    height:9vh;
    padding:7px;
}

.ul-navigation {
    display:flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.nama {
    margin-right: 333px;
    display: flex;
    color:white
}

.li-navigation {
    margin:10px;
    margin-top: 18px;
    font-size:20px;
    align-items: center;
    text-align: center;
    color:white
}

.link-navigation {
    text-decoration: none;
    color:white;
}

.content {
    height:100%;
    background-color:gray;
    text-align: justify;
}

.li-content {
  
}

.img-font {
    font-size:30px;
}

.gambar {
    display:flex;
    text-align:center;
}

.text-footer {
    background-color:rgb(51, 47, 47);
    height:10vh;
    color:white;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
}

.icon {

    width:20px;
    height:20px;
    margin:10px;
}

.link-footer {
    text-decoration: none;
    color:white;
}