html {
    scroll-behavior: smooth;
    background-color:#DBDBDB;
    font-family: 'Montserrat', sans-serif;
}

.header { 
    padding: 10px;
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
}

.right-header a {
    color:black;
    text-decoration: none;
}

.ul-header {
    display: flex;
    list-style: none;
    gap: 20px;
}

.content { 
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.home {
}

.about {
    max-width: 400px;
}

.picture {
    width: 300px;
    height: 350px;
}

.li-header:hover {
    border-bottom: solid 1px black;
}

.footer {
}