.content {
    background-color:gray;
    padding:10px;
    min-height:100vh;
    max-height:100%;
}

.judul {
    font-size: 40px;
}

.detail {
    padding:10px;
    text-align:center;
    font-size:23px;
}
