.content {
    width: 100%;
    height:78vh;
    background-color: gray;
}

.ul-content {
    display:flex;
}

.li-content {
    list-style-type: none;
}

.img-font {
    text-align: center;
    font-size: 30px;
    color: white;
}

.gambar {
    padding: 10px;
}
